.textBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-right: 15px;
    padding-bottom:40px;
    width:80vh ;
    height: 100vh;
    border: solid black;
    flex-direction: column;
}.item{
    margin-top: 50px;
    width: 70%;
}
.textBox > button{
    margin-top: 10px;
}
.textBox h2{
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    display: block;

}
.lineInner{
    list-style: none;
    padding: 5vh;
    padding-right: 5vh;
    height: 5vh;
    width: 400px;
    border: solid red;
}.lineInner p{
    width: 60%;
}
.btn{
    display: inline-block;
    background-color: red;
}
.lineText{
    position:relative;
    
}